
<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
    <a class="navbar-brand" href="#" style="margin: 0px;">
      <img src="assets\hospital.svg" width="50" height="30" alt="">
  </a>
      <a class="navbar-brand" href="#" style="color: white;"> <b> CareSync </b></a>
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
        <div class="mx-2">
          
          <button style="margin: 5px;"class="btn btn-info" data-toggle="modal" data-target="#loginModal"><a style="color:white;" href="javascript:void(0);" routerLink="/home">Logout</a></button>
          
      </div>
        
      </div>
    
    </nav>

<div class="container">

    <h2 class="text-center">Update Patient</h2>
    <form (ngSubmit)="onSubmit()">
    <div class="form-group">
    <label>Name</label>
    <input type="text" name="name" id="name" placeholder="Enter Name" class="form-control" [(ngModel)]="patient.name"/>
    </div> 
    
    
    <div class ="form-group">
        <label>Age</label>
        <input type="text" id="age" name="age" placeholder="Enter your Age" class="form-control" [(ngModel)]="patient.age"/>
    </div>

    <div class ="form-group">
        <label>Blood</label>
        <input type="text" id="blood" name="blood" placeholder="Enter your Blood Group" class="form-control" [(ngModel)]="patient.blood"/>
    </div>

    <div class ="form-group">
        <label>Prescription</label>
        <input type="text" id="prescription" name="prescription" placeholder="Enter prescription" class="form-control" [(ngModel)]="patient.prescription"/>
    </div>

    <div class ="form-group">
        <label>Dose</label>
        <input type="text" id="dose" name="dose" placeholder="Enter your dose" class="form-control" [(ngModel)]="patient.dose"/>
    </div>

    <div class ="form-group">
        <label>Fees</label>
        <input type="text" id="fees" name="fees" placeholder="Enter your fees" class="form-control" [(ngModel)]="patient.fees"/>
    </div>

    <div class ="form-group">
        <label>Urgency</label>
        <input type="text" id="urgency" name="urgency" placeholder="Enter your Urgency" class="form-control" [(ngModel)]="patient.urgency"/>
    </div>

    <button type ="submit" class="btn btn-success">Submit</button>
</form>
</div>