<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
    <a class="navbar-brand" href="#" style="margin: 0px;">
        <img src="assets\hospital.svg" width="50" height="30" alt="">
    </a>
        <a class="navbar-brand" href="#" style="color: white;"> <b> CareSync </b></a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        

        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/view-doctors">Back</a>
          </li>

        
        
      </ul>

      <div class="mx-2">
        
        <button style="margin: 5px;"class="btn btn-info" data-toggle="modal" data-target="#loginModal"><a style="color:white;" href="javascript:void(0);" routerLink="/home">Logout</a></button>
        
    </div>
      
    </div>
  
  </nav>
  
  <div class ="container">
    <h2 class = "text-center">Add New Doctor</h2>
    
    <form (ngSubmit)="onSubmit()">
    
        <div class ="form-group">
            <label>Name</label>
            <input type="text" id="fname" name="fname" placeholder="Enter your Name" class="form-control" [(ngModel)]="doctor.fname"/>
        </div>
    
        <div class ="form-group">
            <label>Age</label>
            <input type="text" id="age" name="age" placeholder="Enter your Age" class="form-control" [(ngModel)]="doctor.age"/>
        </div>
    
        <div class ="form-group">
            <label>Gender</label>
            <input type="text" id="gender" name="gender" placeholder="Enter your Gender" class="form-control" [(ngModel)]="doctor.gender"/>
        </div>
    
        <div class ="form-group">
            <label>Email</label>
            <input type="email" id="email" name="email" placeholder="Enter email" class="form-control" [(ngModel)]="doctor.email"/>
        </div>
    
        <div class ="form-group">
            <label>Phone</label>
            <input type="text" id="phone" name="phone" placeholder="Enter your phone" class="form-control" [(ngModel)]="doctor.phone"/>
        </div>
    
        <div class ="form-group">
            <label>Qualification</label>
            <input type="text" id="qualification" name="qualification" placeholder="Enter your Qualification" class="form-control" [(ngModel)]="doctor.qualification"/>
        </div>
    
        <div class ="form-group">
            <label>Specialization</label>
            <input type="text" id="specialization" name="specialization" placeholder="Enter your Specialization" class="form-control" [(ngModel)]="doctor.specialization"/>
        </div>
    
    
        <button type ="submit" class="btn btn-success">Submit</button>
    
    
    </form>
    </div>
