.card{
    border: none;
    width: 500px;
    padding: 40px;
    top: 40%;
    left: 30%;
    transform: translate(30%, -25%); 
    background: rgb(247, 247, 247);
    justify-content: center;
    color: rgb(5, 5, 65);
    justify-items: center;
    box-shadow: 10px 10px 10px rgb(195, 195, 195);
    
}
