<!doctype html>
<html lang="en">

<head>
    
</head>

<body>
    <nav style="background-color:rgb(35,31,32);" class="navbar navbar-expand-md navbar-custom"  >
      <a class="navbar-brand" href="#" style="margin: 0px;">
        <img src="assets\hospital.svg" width="50" height="30" alt="">
    </a>
        <a class="navbar-brand" href="#" style="color: white;"> <b> CareSync </b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

          </ul>
          <!-- Just an image -->

            <div class="mx-2">
              
              <a class="navbar-brand" href="#" style="margin: 0px;">
                <img src="assets\LoginIcon.jpg" width="40" height="35" alt="">
            </a>
            <button style="margin: 5px; margin-left: 0;" class="btn btn-light" data-toggle="modal" data-target="#loginModal">
                <a style="color:rgb(0, 0, 0);" href="javascript:void(0);" routerLink="/adlogin">Admin</a>
            </button>
            
              <button style="margin: 5px;" class="btn btn-light" data-toggle="modal" data-target="#loginModal"><a style="color: rgb(0, 0, 0);" href="javascript:void(0);" routerLink="/doclogin">Doctor</a></button>

              <button style="margin: 5px;"class="btn btn-light" data-toggle="modal" data-target="#loginModal"><a style="color:rgb(0, 0, 0);" href="javascript:void(0);" routerLink="/user-dash">Book Appointment</a></button>
            </div>
        </div>
    </nav>

    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
             
                <img src="assets\pexels-jonathanborba-13697925.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <button class="btn btn-secondary btn-lng"><h2>Welcome to CareSync</h2></button>
                    <p></p>
                    <button class="btn btn-info">Best Healing Hands</button>
                    <button class="btn btn-info" style="margin-left: 5px;">Advanced Treatement</button>
                    <button class="btn btn-info" style="margin-left: 5px; ">Best Clinical OutComes</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <button class="btn btn-secondary btn-success"><h2>Book an Appointment</h2></button>
                    <p></p>
                    <button class="btn btn-danger">10000+ Heeling Hands</button>
                    <button class="btn btn-primary">Advanced Treatement </button>
                    <button class="btn btn-success">Best Clinical OutComes</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <button class="btn btn-secondary btn-lng"><h2>Prevention is better than cure!</h2></button>
                    <p></p>
                    <button class="btn btn-danger">10000+ Heeling Hands </button>
                    <button class="btn btn-primary">Advanced Treatement</button>
                    <button class="btn btn-success">Best Clinical OutComes</button>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    
    <div class="container my-4">
      <br>
      <h2 style="text-align: center;">Our Facilities & Services</h2>
      <br>
        <div class="row mb-2">
      
            <div class="col-md-12">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                
                <div class="col-auto d-none d-lg-block">
                  <img class="bd-placeholder-img" width="200" height="250" src="assets\pexels-shvetsa-4421492.jpg" alt="">
                </div>
                <div class="col p-4 d-flex flex-column position-static">
                  
                  <h3 class="mb-0">Operative Facilities</h3>
                  <br>
                    <ul class="mb-auto">
                      <li><strong>Major Operation Theater</strong>: Equipped with advanced surgical equipment for performing critical surgeries.</li>
                      <li> <strong>Minor Operation Theater</strong>: Designed for minor surgical procedures and day surgeries requiring less intensive resources.</li>
                      <li><strong>Endoscopy Room</strong>: Specialized room for performing endoscopic procedures, allowing doctors to diagnose and treat conditions using minimally invasive techniques.</li>
                    </ul>
                  
                  
                </div>
      
              </div>
            </div>
            <div class="col-md-12">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-success"></strong>
                  <h3 class="mb-0">Emergency Rooms (Casualty)
                  </h3>
                  <br>
                <ul>
                  <li>
                    <strong>24*7 Emergency Services</strong>: Round-the-clock emergency services providing immediate care for urgent medical conditions.
                </li>
                <li>
                    <strong>Consultation Area</strong>: Designated area where patients can consult with doctors for diagnosis and treatment planning.
                </li>
                <li>
                    <strong>Patient Waiting Area</strong>: Comfortable and spacious area for patients and their families to wait before consultations and procedures.
                </li>
                
                </ul>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="assets\pexels-cedric-fauntleroy-4269363.jpg" alt="">

                </div>
              </div>
            </div>
          </div>
        <div class="row mb-2">
            <div class="col-md-12">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                <div class="col-auto d-none d-lg-block">
                  <img class="bd-placeholder-img" width="200" height="250" src="assets\pexels-yankrukov-5794025.jpg" alt="">
                </div>

                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-danger"></strong>
                  
                  <h3 class="mb-0">Outpatient Services</h3>
                  <br>
                  <ul>
                    <li>
                      <strong>Specialist OPD</strong>: Outpatient department where patients can consult with specialist doctors for specific medical conditions.
                  </li>
                  <li>
                      <strong>Vaccination</strong>: Providing routine vaccinations to protect against various diseases.
                  </li>
                  <li>
                      <strong>Health Check Ups</strong>: Comprehensive health screenings to monitor overall health and detect any early signs of illness.
                  </li>
          
                
                  </ul>
                </div>
  
              </div>
            </div>
            <div class="col-md-12">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-warning"></strong>
                  <h3 class="mb-0">Pharmacy</h3>
                  <br>
                   <ul>
                    <li>
                      <strong>24-Hour Pharmacy Service</strong>: Providing patients with access to essential medications and pharmacy services at any time of the day or night.
                  </li>
                   </ul>

                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="assets\pexels-karolina-grabowska-4021813.jpg" alt="">

                </div>
              </div>
            </div>
          </div>
    </div>
    
   
  

<br>
    <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="my-5">

  <footer class="bg-dark text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">See other books</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>Bestsellers</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>All books</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>Our authors</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Execution of the contract</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Supply</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-backspace fa-fw fa-sm me-2"></i>Returns</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Regulations</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Privacy policy</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Publishing house</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">The BookStore</a>
            </li>
            <li>
              <a href="#!" class="text-white">123 Street</a>
            </li>
            <li>
              <a href="#!" class="text-white">05765 NY</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-briefcase fa-fw fa-sm me-2"></i>Send us a book</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Write to us</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white"><i class="fas fa-at fa-fw fa-sm me-2"></i>Help in purchasing</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Check the order status</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Join the newsletter</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
<!-- End of .container -->



</body>

</html>